body{
	font-size: 20px;
}

.letra-raleway{
	font-family: 'Raleway', sans-serif;
}

.title{
	margin-top: 0;
	font-size: 2.5em;
}

.main-header{
	background-color: rgba(150,150,255,0.4);
	padding:-left:15px;
	padding-right: 15px; 
	padding-top: 10px; 
	padding-bottom: 10px;
	border-radius: 4px;
}

.nav-link{
	color:white; 
	margin-right: -4px;
	/*saco el subrayado*/
	text-decoration: none;
	/*porcentaje que ocupa en la pantalla*/
	width: 25%; 
	display: inline-block;
}

.text-center{
	text-align: center;
}

.red-text{
	color: #E74C3C;
}

.main-container{
	min-height: 100vh;
}

/*Solo las imagenes dentro de la etiqueta product - NO es buena practica*/
.product img{ 
	width: 150px;
}

.product h3{
	font-size: 1.7em;
	margin-top: 5px;
	margin-bottom: 5px;
}

.card{
	border-radius: 4px;
	background:rgba(138,138,138,0.4);
/*	background-color: transparent;*/
	/*distancia en x, en y, desenfoque, color*/
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.body{
	/*controla los espacios*/
	/* notacion equivalente a padding-top y bottom 60 y left right 15*/
	padding: 60px 15px;
}

.texto-3d{
	text-shadow: 1px 3px 0px #6b251d, 1px 13px 5px rgb(171,168,168);
}

.delay-1{
	animation-delay: 0.1s;
	/*pone las ultimas imagenes por detras*/
	position: relative;
	z-index: 5;
}

.delay-2{
	animation-delay: 0.2s;	
	position: relative;
	z-index: 4;
}

.delay-3{
	animation-delay: 0.3s;		
	position: relative;
	z-index: 3;
}

.delay-4{
	animation-delay: 0.4s;
	position: relative;
	z-index: 2;	
}

.delay-5{
	animation-delay: 0.5s;
	position: relative;
	z-index: 1;
}

.imagen-de-fondo{
	background-image: url("/EstudioCSGP/imagenes/imagen_contacto.jpg");
	background-size: cover;
}