body{
	font-size: 20px;
}

.letra-raleway{
	font-family: 'Raleway', sans-serif;
}

.title{
	margin-top: 0;
	font-size: 2.5em;
}

.titulo-principal{
	background-color: #390E0E;
	padding:-left:15px;
	padding-right: 15px; 
	padding-top: 10px; 
	padding-bottom: 10px;
	border-radius: 4px;
}

.link-navegacion{
	color:white; 
	margin-right: -4px;
	/*saco el subrayado*/
	text-decoration: none;
	/*porcentaje que ocupa en la pantalla*/
	width: 20%; 
	display:inline-block;
    text-align:center;
    font-size:17px;
}

.texto-centrado{
	text-align: center;
}


.contenedor-principal{
	min-height: 100vh;
}

/*Solo las imagenes dentro de la etiqueta items-cuadrados - NO es buena practica*/
.item-cuadrado img{ 
	width: 150px;
}

.item-cuadrado h3{
	font-size: 1.7em;
	margin-top: 5px;
	margin-bottom: 5px;
}

.tarjeta{
	border-radius: 8px;
	background:rgba(138,138,138,0.4);
	/*distancia en x, en y, desenfoque, color*/
	box-shadow: 0 1px 3px rgba(0,0,0,0.32), 0 1px 2px rgba(0,0,0,0.4);
}

.cuerpo{
	/*controla los espacios*/
	/* notacion equivalente a padding-top y bottom 60 y left right 15*/
	padding: 20px 10px;
}

.texto-3d{
	text-shadow: 1px 3px 0px #6b251d, 1px 13px 5px rgb(171,168,168);
}

.imagen-de-fondo{
	background-image: url("/EstudioCSGP/imagenes/imagen_fondo.jpg");
	background-size: cover;
}

.titulo-home{
	margin-top: 0;
	font-size: 2.6em;
	color: #212121;
	text-shadow: 1px 3px 1px #A59592;
}

.subtitulo-home{
	margin-top: 0;
	font-size: 1.2em;
	color: #2F1B17;
	text-shadow: 1px 3px 10px #A59592;
}

.encabezado-auxiliar{
	margin-top: 0;
	font-size: 1.5em;
	color: #212121;
	text-shadow: 1px 3px 1px #A59592;
}

.subencabezado-auxiliar{
	margin-top: 0;
	font-size: 0.9em;
	color: #2F1B17;
	text-shadow: 1px 3px 10px #A59592;
}

.texto-boton{
	margin-top: 0;
	font-size: 2.1em;
	color: #212121;
	text-shadow: 1px 3px 1px #A59592;
}

.fondo-fotos{
	border-radius: 4px;
	background:rgba(57,14,14,1);
  	height: 200px;
 	width: 200px;
}

.fondo-especializacion{
	border-radius: 4px;
	background:rgba(57,14,14,1);
	box-shadow: 0 1px 3px rgba(0,0,0,0.32), 0 1px 2px rgba(0,0,0,0.4);
}

.texto-imagenes{
	color:rgba(113,80,80,0.3); 
	text-shadow: 1px 1px 1px white;
}

.barra-superior{
	color:white; 
	position: fixed;
	bottom: 0; 
	/*saco el subrayado*/
	text-decoration: none;
	/*porcentaje que ocupa en la pantalla*/
	width: 100%; 
	background-color: #390E0E;
	display:inline-block;
    text-align:left;
    font-size:25px;
	font-family: 'Abel', sans-serif;
	/*ancho del header*/
	padding: 2px;
}